@model TenantPageViewData<Question>

@section MenuContent
{
    <ul>
        <li class="current"><a>New Survey</a></li>
        <li>@Html.ActionLink("My Surveys", "Index", "Surveys")</li>
        <li>@Html.ActionLink("My Account", "Index", "Account")</li>
    </ul>
    <div class="clear">
    </div>
}

<div class="breadcrumbs">
    <a href="#" onclick="javascript: submitToCancelNewQuestion()">New Survey</a> &gt; 
    New Question
</div>

<h2>Add a new question</h2>
<br />
@using (Html.BeginForm("AddQuestion", "Surveys")) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken() 

    <dl>
        <dt>
            @Html.LabelFor(model => model.ContentModel.Text)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.ContentModel.Text, new { size = "60" })
            @Html.ValidationMessageFor(model => model.ContentModel.Text)
        </dd>
        <dt>
            @Html.LabelFor(model => model.ContentModel.Type)
        </dt>
        <dd>
            <select asp-for="ContentModel.Type" asp-items="Html.GetEnumSelectList<QuestionType>()"></select>
        </dd>
    </dl>

    <div id="possibleAnswers" style="display: none">
        <dl>
            <dt>
                @Html.LabelFor(model => model.ContentModel.PossibleAnswers)<br />
                <span id="questionTypeHelp" style="font-style: italic; font-weight: normal;">Enter one choice per line</span>
            </dt>
            <dd>
                @Html.TextAreaFor(model => model.ContentModel.PossibleAnswers, new { rows = "5", cols = "1", style = "width: 500px;" })
                @Html.ValidationMessageFor(model => model.ContentModel)
            </dd>
        </dl>
    </div>

    <br />
    <p>
        <input id="addToSurvey" type="submit" value="Add to survey" />
            or 
        @Html.ActionLink("Cancel", "New")
    </p>
}
@section scripts
{
<script type="text/javascript">
    function setAnswersVisibility() {
        var selectedType = $("select option:selected").text()
        if (selectedType == 'SimpleText' || selectedType == 'FiveStars') {
            $('textarea').val('')
            $('#possibleAnswers').hide()
        }
        else {
            $('#possibleAnswers').show()
        }
    }

    $('select').change(setAnswersVisibility);

    $(document).ready(setAnswersVisibility);

</script>
}

