@model PageViewData<BrowseResponseModel>

@section MenuContent
{
    <ul>
        <li>@Html.ActionLink("New Survey", "New", "Surveys")</li>
        <li class="current"><a>My Surveys</a></li>
    </ul>
    <div class="clear">
    </div>
}

<div id="pageTitle">
    <h2>
        @Html.ActionLink("Summary", "Analyze", "Surveys")
        <span>Browse Responses</span>
    </h2>
</div>
<div class="breadcrumbs">
    @Html.ActionLink("My Surveys", "Index", "Surveys") &gt;
    @this.Model.Title  &gt;
    @Html.ActionLink("Analyze", "Analyze", "Surveys") &gt;
    Browse Reponses
</div>

<h2>
    Analyze:
    @this.Model.Title
</h2>
<div id="surveyForm">
    <div style="padding-top:20px;padding-bottom:20px;">
        <span style="padding-right:20em">
            @if (Model.ContentModel.CanMoveBackward)
            { 
                @Html.ActionLink("« Previous", "BrowseResponses", "Surveys", new { answerId = Model.ContentModel.PreviousAnswerId }, null)
            }
            else
            {
                <text>Previous</text>
            } 
        </span>
        <span>
            @if (Model.ContentModel.CanMoveForward)
            {   
                @Html.ActionLink("Next »", "BrowseResponses", "Surveys", new { answerId = Model.ContentModel.NextAnswerId }, null)
            }
            else
            {
                <text>Next</text>
            } 
        </span>
    </div>
    @if (this.Model.ContentModel.SurveyAnswer != null) { 
    <ol>
        @foreach (var questionAnswer in Model.ContentModel.SurveyAnswer.QuestionAnswers)
        {
        <li>
            @await Html.PartialForAsync(questionAnswer)
        </li>
        } 
    </ol>
    }
    else
    {
        <text>No responses to this survey yet.</text>
    } 
</div>
    
@section scripts
{
    <script src="@Url.Content("~/js/jquery.rating.js")" language="javascript" type="text/javascript"></script>
}
